@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url('https://fonts.cdnfonts.com/css/blanka');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Asap", sans-serif;
}
/*navbar css*/
header{
    background-color: #fff;
}
li{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
.navbar{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size: 2rem;
    font-family: 'Blanka', sans-serif;
    color: #006F46;
    padding: 10px 0;
    border-bottom: 6px solid #000;
}
.nav-branding span{
    font-size: 2rem;
    font-family: 'Blanka', sans-serif;
    color: #FFEB00;
}
.nav-branding img{
    width: 70px;
    height: 50px;
}
.nav-link{
    transition: 0.2s ease;
    font-size: 18px;
    font-weight: 700;
}
.nav-link:hover{
    color: #006F46;
}
.conbtn{
    margin-top: 25px;
    margin-right: 15px;
    padding: 10px 20px;
    color: #000;
    border: 1px solid #006F46;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;

}
.conbtn:hover{
    background-color: #006F46;
    color: #fff;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}
/*fin navbar css*/

/*leading css*/
#leading{
    max-width: 100%;
    max-height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.presentation h1{
    color: #446C5D;
    margin-left: 50px;
    font-size: 40px;
    max-width: 80%;
    line-height: 1.7;
}
.image img{
    max-width: 90%;
}
/*search box*/
.search-box{
    width: 100%;
    margin-left: 30px;
    margin-top: 40px;
    padding: 40px 0;
}
.search-box input{
    padding: 30px;
    font-size: 16px;
    height: 30px;
    width: 40%;
    border-radius: 20px 0 0 20px;
    border: 1px solid #006F46;
}
.search-box select{
    padding: 20px;
    font-size: 16px;
    border: 1px solid #006F46;
    border-radius: 0 20px 20px 0;
    width: 40%;
}
.search-box option{
    padding: 15px;
    font-size: 17px;
    background-color: #fff;
}
.search-box .search-btn{
    padding:20px;
    margin-left: 10px;
    border-radius: 20px;
    color: #fff;
    background: #006F46;
    font-size: 16px;
    cursor: pointer;
    border: none;
    box-shadow: 10px 5px 5px #FFEB00;
}

/*fin leading css*/


#categories{
    max-width: 100%;
    max-height: fit-content;
    background: #fff;
}
.title h2{
    font-size: 50px;
    font-weight: 700;
    color: #006F46;
    text-align: center;
    justify-content: center;
    padding: 40px;
}
.row{
    padding: 0 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    grid-gap: 20px;
}
.matiere{
    width: 100%;
    text-align: center;
    padding: 50px 10px;
    font-size: 15px;
    background: #d1d1d1;
    color: #000;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 1.5rem 1.5rem 0 rgba(217, 237, 235, 0.125) !important;
}
.matiere img{
    width: 40%;
    padding: 30px;
}
#loginpage{
    width: 100%;
    max-height: 100%;
    background: #fff;
}

#loginpage .container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.img img{
    width: 500px;
}
.login-content form{
    width: 360px;
}
.login-content h2{
    margin: 35px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}
.login-content .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.login-content .input-div.one{
    margin-top: 0;
}
.i{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i i{
    transition: .3s;
}
.input-div > div{
    position: relative;
    height: 45px;
}
.input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}
.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #446C5D;
    transition: .4s;
}
.input-div:before{
    right: 50%;
}
.input-div:after{
    left: 50%;
}
.input-div.focus:before, .input-div.focus:after{
    width: 50%;
}
.input.div.focus > div > h5{
    top: -5px;
    font-size: 15px;
}
.input-div.focus > .i > i{
    color: #446C5D;
}
.input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}
.input-div.pass{
    margin-bottom: 4px;
}
.login-content a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}
.login-content a:hover{
    color: #446C5D;
}
.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background: #006F46;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}
.btn:hover{
    background-position: right;
}




/*footer css*/
footer{
    position: relative;
    bottom: 0;
    background: #fff;
    max-height: fit-content;
    margin-top: 50px;
    max-width: 100%;
    color:  #333;
}
.footer-content{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: auto;
    margin: 10px auto;
    line-height: 28px;
}
.propos{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.propos li{
    margin: 0 10px;
}
.propos a{
    text-decoration: none;
    color: #000;
}
.propos a:hover{
    color: #006F46;
}
.footer-bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    color: #000;
}


@media(max-width: 768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 20px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}

/*loginpage responsive*/
@media screen and (max-width: 1050px){
    #loginpage .container{
        grid-gap: 5rem;
    }
}
@media screen and (max-width: 1000px){
    .login-content form{
        width: 290px;
    }
    .login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img img{
        width: 400px;
    }
}
@media screen and (max-width: 900px){
    #loginpage .container{
        grid-template-columns: 1fr;
    }
    .img{
        display: none;
    }
    .login-content{
        justify-content: center;
    }
}